Package: ulanix-scientia
Version: 1.0.5
Architecture: all
Maintainer: David Hernández <david.vzla@gmail.com>
Installed-Size: 27
Depends: octave, maxima, wxmaxima, gnuplot, gimp, scribus, libreoffice, blender, xournal, inkscape, geany, lyx, dia, umbrello, planner, r-base, openjdk-7-jre, freeplane, freemind, idle, texmaker, texlive, texlive-bibtex-extra, texlive-extra-utils, texlive-font-utils, texlive-generic-extra, texlive-generic-recommended, texlive-lang-spanish, texlive-latex-extra, texlive-latex-recommended, texlive-math-extra, texlive-pictures, texlive-publishers, texlive-science, ulanix-scientia-docs
Section: misc
Priority: optional
Homepage: http://nux.ula.ve/
Description: Metapaquete para la instalación del sistema ulanix scientia
 Este metapaquete contiene los programas del escritorio ulanix en su sabor
 scientia, dirigido a estudiantes de ciencia e ingeniería.
